

.navbar-text {
  margin-right: 30%;
}

@media screen and (max-width: 800px) {
  .navbar-text {
    margin-right: 20%
  }
}

#landing {
  background-image: url('./images/stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome {
  margin-top: 25px;
  font-size: 21px;
  font-family: 'Courier New';
  text-align: center;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#welcome {
  font-size: 5rem;
  padding-top: 20%;
}
@media screen and (max-width: 500px) {
  #welcome {
    font-size: 3rem;
    padding-top: 25%
  }
}
/* time line section */
#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 5rem;
}

/* the vertical timeline */
#timeline div:after {
  content: '';
  width: 2px;
  position: absolute;
  top: .5rem;
  bottom: 0rem;
  left: 70px;
  z-index: 0;
  background: #C5C5C5;
}

/* make the year sticky */
#timeline h3 {
  /* position: -webkit-sticky; */
  position: sticky;
  top: 5rem;
  color: white;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
}

/* margin top of each section in #year */
#timeline section.year section {
  margin-top: 4rem;
  padding-bottom: 0px;
}


#timeline section.year section {
  position: relative;
  /* padding-bottom: 1.25em;
  margin-bottom: 2.2em; */
}

/* for duration of experience */
#timeline section.year section h4 {
  position: absolute;
  top: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 89px;
}

@media screen and (max-width: 500px) {
  #timeline section.year section h4 {
    position: absolute;
    top: 0;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 0 89px;
  }
}

/* margin bottom of each section in #year */
#timeline section.year section ul {
  list-style-type: none;
  padding: 1.2em 0 0 89px;
  margin: 0rem 0 6rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  #timeline section.year section ul {
    list-style-type: none;
    padding: 1.2em 0 0 89px;
    margin: 0rem 0 6rem;
    font-size: 1rem;
  }
}

/* bullet point */
#timeline section.year section ul:first-of-type:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #C5C5C5;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 66px;
  top: 3px;
  z-index: 2;
}


/* skill anchor tags styling */
.button {
  border-radius: 14px;
  font-size: .8rem;
  padding: 0px 4px;
  text-transform: capitalize;
}

.year section a {
  text-decoration:  white dotted underline .2px;
  color: #E84A27
}

.year section a:hover {
  text-decoration: none;
}


.uiucblue {
  background-color: #13294b
}

.uiucorange {
  background-color: #E84A27
}


.misc {
  line-height: 2;
  font-size: 1.5rem;
  margin-top: 20%
}

@media screen and (max-width: 450px) {
  .misc {
    line-height: 2;
    font-size: .9rem;
    margin-top: 10%
  }
}

#misc img {
  height: 2rem;
}

hr {
  color: rgba(255,255,255,0.2);
}

#misc-section {
  height: 93.5%;
}
@media screen and (max-width: 500px) {
  #misc-section {
    height: 130%;
  }
} 
@media screen and (min-width: 950px) {
  #misc-section {
    height: 100%;
  }
} 
@media screen and (max-width: 400px) {
  #misc-section {
    height: 210%;
  }
} 

#misc-section p {
  font-size: 1.5rem;
  color: #13294b;
}
@media screen and (max-width: 500px) {
  #misc-section p {
    font-size: 1rem;
    color: #13294b;
  }
} 


@media screen and (max-width: 500px) {
  #misc-section h3 {
    font-size: 1.4rem;
  }
} 


.about-section {
  height: 100%;
}

@media screen and (max-width: 500px) {
  .about-section {
    height: 200%;
  }
}

.about-section i:hover{
  transition: .5s;
  color:#E84A27 !important;
}


.about-container {
  border-radius: 1rem;
  height: 60%;
  margin-top: 5%;
}

@media screen and (max-width: 500px) {
  .about-container {
    height: 75%;
    margin-top: 5%;
  }
} 

.about-container img {
  padding: 3rem 2rem 3rem 2rem;
  height: 100%;
  width: 100%
}

@media screen and (max-width: 500px) {
  .about-container img {
    height: 18rem;;
    width: 100%;
    padding: 0
  }
} 

.about-container p {
  font-size: 1.3rem; 
  font-family:'Times New Roman', Times, serif;
}


.icon-groups {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 0rem;
  width: 60%
}

@media screen and (max-width: 800px) {
  .icon-groups {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0rem 1rem 0rem;
    width: 95%
  }
} 

.about-card {
  padding: 1rem 2rem 0rem 0rem;
}